div > li {
	background-color: #dcdcdc;
}
img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
div.shadow1 {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
div.container1 {
	padding: 10px
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}
ol li {
	padding: 3px;
}